<div class="row">
    <div class="col-lg-6">


        <div class="image-flip">
            <div class="mainflip flip-0">
                <div class="frontside">
                    <div class="card w3-card side_custome">
                        <div class="card-body text-left">
                            <div class="row">
                                <div class="col-lg-6 col-6">
                                    <p><img class="icons" src="~/icons/sold.png" alt="card image"></p>
                                </div>

                                <div class="col-lg-6 col-6">
                                    <h1 class="card-title">@ViewBag.count_below</h1>
                                    @*<a href="" class="btn btn-light btn-sm">More details &nbsp;<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></a>*@

                                </div>
                            </div>




                            <p class="card-text">@ViewBag.faqs&nbsp; <button class="btn w3-card bg-white card-title-custome " data-toggle="modal" data-target="#all_creditors">All creditors &nbsp;</button></p>

                        </div>
                        @*<div class="card-body text-left">
                            <p><img class="img-fluid" src="~/images/System/messagesNew.png" alt="card image" style="height:40px;width:40px;"></p>
                            <h4 class="card-title">Messages</h4>
                            <p class="card-text">67</p>*@

                    </div>
                </div>
            </div>

        </div>
    </div>  <div class="col-lg-6">


        <div class="image-flip">
            <div class="mainflip flip-0">
                <div class="frontside">
                    <div class="card w3-card side_custome">
                        <div class="card-body text-left">
                            <div class="row">
                                <div class="col-lg-6 col-6">
                                    <p><img class="icons" src="~/icons/sold.png" alt="card image"></p>
                                </div>

                                <div class="col-lg-6 col-6">
                                    <h1 class="card-title">@ViewBag.count_below</h1>
                                    @*<a href="" class="btn btn-light btn-sm">More details &nbsp;<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></a>*@

                                </div>
                            </div>




                            <p class="card-text">@ViewBag.faqs&nbsp; <button class="btn w3-card bg-white card-title-custome " data-toggle="modal" data-target="#to_restock_modal">Cash on credit &nbsp;</button></p>

                        </div>
                        @*<div class="card-body text-left">
                            <p><img class="img-fluid" src="~/images/System/messagesNew.png" alt="card image" style="height:40px;width:40px;"></p>
                            <h4 class="card-title">Messages</h4>
                            <p class="card-text">67</p>*@

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade custome_modal_radius" id="all_creditors">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header  p-2  " style="z-index:1020">
                    <img src="~/images/sell.png" class="sell" />&nbsp;<b>ALL DEBTOR</b>
                </div>
                <div class="modal-body  p-2 w3-card" style="z-index:1020">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">


                                    <div class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2 ml-3 w-100">
                                        <i class="fa fa-search " aria-hidden="true" style="color:#68213A "></i>
                                        <input id="creditors" class="form-control form-control-sm ml-3 search_input mb-2" type="text" placeholder="Search"
                                               aria-label="Search">
                                        &nbsp;
                                        @*<button class="btn btn-primary btn-sm w3-card" data-toggle="modal" data-target="#add_new_item_to_system"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add new item</button> &nbsp;*@
                                        <button class="btn btn-primary btn-sm" id="creditors_pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF</button>
                                        <button class="btn btn-primary btn-sm" id="creditors_pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Add new client</button>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table font_flex" id="creditors_table">
                                        <tr>
                                            <th style="border:none">Name</th>
                                            <th style="border:none">Phone</th>
                                            <th style="border:none">On credit</th>
                                        </tr>

                                        @if (@ViewBag.all_creditors != null)
                                        {
                                            @foreach (var item in ViewBag.all_creditors)
                                            {
                                                <tr>

                                                    <td class="border_none" style="border-top: none">@item.Customer_name</td>
                                                    <td class="border_none" style="border-top:none">@item.Phone_number/=</td>

                                                    <td class="border_none" style="border:none"><h5><span class="badge badge-danger">@item.Credit</span></h5></td>




                                                    @*<td class="border_none" style="border:none"><button class="btn btn-light" onclick="find_details('@item.id','@item.Item_name','@item.Item_price','@item.Quantity','@item.DateTime')"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button></td>*@

                                                </tr>
                                            }
                                        }
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                </div>
                                </div>
                                </div>